<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="re.serialout"
    android:versionCode="3"
    android:versionName="1.2" >

    <uses-sdk android:minSdkVersion="3" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:icon="@drawable/logo2"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        <receiver android:name=".MainScreen$ButtonReciver" >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".MainScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="survey.ShortQuizActivity" />
        <!-- android:screenOrientation="landscape" -->
        />
        <activity android:name="survey.CompletedShortQuizActivity" />
        <!-- android:screenOrientation="landscape" -->
        />
        <activity android:name="survey.DemographicActivity" />
        <!-- android:screenOrientation="landscape" -->
        />
        <activity android:name="survey.QuestionnaireActivity" />
        <!-- android:screenOrientation="landscape" -->
        />
        <activity android:name="survey.CompletedQuestionnaireActivity" />
        <!-- android:screenOrientation="landscape" -->
        />
        <activity
            android:name="pH.pHActivity"
            android:label="@string/title_activity_p_h" />
        -->
        <activity
            android:name="potStat.PotStatActivity"
            android:label="@string/title_activity_pot_stat"
            android:parentActivityName=".MainScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="re.serialout.MainScreen" />
        </activity>
        <activity
            android:name="pH.pHResultsActivity"
            android:label="@string/title_activity_p_hresults"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".TimeSeriesDataActivity"
            android:label="@string/title_activity_time_series_app" />
        <activity
            android:name=".TimeSeriesRecordingActivity"
            android:label="@string/title_activity_time_series_recording" >
        </activity>
    </application>

</manifest>
